@font-face {
  font-family: 'GlacialIndifference';
  src: url('/fonts/GlacialIndifference.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lovelo';
  src: url('/fonts/Lovelo.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --primary-color: #fafafa;
  --background-color: #ebdbcb;
  --accent-color: #e0835b;
  --color-dark: #292929;
  --secondary-color: #82abc6;
  --primary-text: 'GlacialIndifference', sans-serif;
  --title-text: 'Lovelo', sans-serif;
}

body{
  background-color: var(--background-color);
  overflow: hidden;
}
.hero{
  min-height: 70vh;
  width: auto;
  background-image: url('/img/fashionfoto.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.absolute{
  position: absolute;
  top: -9vh;
  left: 15vh;
  width: 70vh;
}

.hero-title{
  font-family: var(--title-text);
  font-size: 15vh;
  background: linear-gradient(to bottom, var(--secondary-color) 50%,  var(--primary-color  ) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -3vh;
}
.hero-section{
  font-size: 3vh;
  color: var(--primary-color);
  font-family: var(--primary-text);
  padding-left: 1vh;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.hero-arrow {
  font-size: 10vh;
  animation: moveUpDown 2s infinite;
}

.shopnow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.shop-now {
  background-color: #e0835b;
  color: #fafafa;
  font-family: var(--primary-text);
  font-size: 2.5vh;
  padding: 0.5vh 2vh;
  border-radius: 2px;
  border-color: transparent;
  transition: 0.5s;
}

.shop-now:hover {
  background-color: #82abc6;
  color: #292929;
  
}

.test{
background-color: #e0835b;
width: 100%;
height: 100vh;
}
.test2{
background-color: #5bbfe0;
width: 100%;
height: 100vh;
}


.card {
  font-family: var(--primary-text);
  border: none !important;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0px 5px 20px var(--accent-color);
}

.card img {
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border: transparent;
}

.card-body {
  background-color: var(--primary-color);
  padding: 1rem;
}

.card-title {
  font-family: var(--title-text);
  font-size: 1.5rem;
  color: var(--color-dark);
}

.card-text {
  color: var(--color-dark);
}

.card .btn {
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-family: var(--primary-text);
  transition: background-color 0.3s, color 0.3s;
  border: transparent;
}

.card .btn:hover {
  background-color: var(--secondary-color);
  color: var(--color-dark);
  border: transparent;
}
#productos {
  height: 100vh;
  width: 100%;
  padding-top: 20vh;
}

.productos-container {
  -ms-overflow-style: none; /* Oculta la barra de scroll en Internet Explorer y Edge */
  scrollbar-width: none; /* Oculta la barra de scroll en Firefox */
  overflow: auto !important;
  height: 80vh;
  white-space: nowrap;
}
.productos-container::-webkit-scrollbar {
  display: none; /* Oculta la barra de scroll en navegadores basados en WebKit (Chrome, Safari, Opera) */
}
